main.product-page-container {
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    padding-block: 2rem;

    flex-shrink: 0;

    min-height: 100vh;

    .top-nav {
        width: clamp(0px, 95%, 1400px);

        display: flex;
        align-items: center;
        gap: 0.5rem;

        margin-bottom: 2rem;

        svg {
            width: 0.7em;
            height: 0.7em;
        }
    }

    .product-info-container {
        width: clamp(0px, 100%, 1450px);

        display: flex;
        justify-content: space-between;
        gap: 3rem;

        padding-inline: 1rem;

        .product-image {
            flex-shrink: 0;
            flex-grow: 0;

            height: fit-content;
            width: clamp(0px, 100%, 578px);
            aspect-ratio: 1;

            background-color: white;
            border-radius: 1.5rem;
            border: 1px solid #d7d7d7;

            padding: 4rem;

            position: relative;
            z-index: 1;

            overflow: hidden;

            .is-new {
                display: flex;
                align-items: center;
                justify-content: center;

                border: 1px solid #d7d7d7;
                border-radius: 100vmax;
                letter-spacing: 0.1rem;
                line-height: 1;
                padding: 0.8rem 1.5rem 0.9rem;
                text-align: center;
                word-break: break-word;

                position: absolute;
                top: 1.3rem;
                left: 1.3rem;
                scale: 0.85;
                transform-origin: top left;
            }

            img {
                width: 100%;
                aspect-ratio: 1;
                object-fit: contain;
            }
        }

        .product-infos {
            flex: 1 0 0;

            height: fit-content;
            background: #f4f4f4;
            border: 1px solid #d7d7d7;
            border-radius: 10px;

            .info-header {
                display: flex;
                flex-direction: column;

                width: 100%;

                padding: 1.3rem;

                border-bottom: 1px solid #d7d7d7;

                .sub {
                    opacity: 0.7;
                    font-weight: 600;
                    text-transform: uppercase;
                }
                .name {
                    line-height: 1.8;
                    font-weight: 600;
                }

                .ava {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    scale: 0.9;

                    transform-origin: center left;
                    font-weight: lighter;

                    .data {
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;

                        svg {
                            color: rgb(62, 214, 96);
                            width: 1em;
                            height: 1em;
                        }
                    }
                }
            }
            .nic-strength {
                display: flex;
                flex-direction: column;
                gap: 0.7rem;

                width: 100%;

                padding: 1.5rem;
                padding-bottom: 2rem;

                border-bottom: 1px solid #d7d7d7;

                p {
                    font-weight: lighter;
                }

                .select-wrapper {
                    width: clamp(0px, 100%, 350px);

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.5rem;

                    position: relative;
                    z-index: 1;

                    select {
                        width: 100%;
                        height: 3.1rem;
                        border: 2px solid #929292;
                        position: relative;
                        padding: 0 1.5rem;
                        border-radius: 0.75rem;
                        appearance: none;
                        font-weight: lighter;

                        // pointer-events: none;

                        opacity: 0.7;
                    }

                    .icon {
                        position: absolute;
                        height: 1.2rem;
                        width: 1rem;
                        pointer-events: none;
                        top: calc(50% - 0.6rem);
                        right: 0.5rem;

                        opacity: 0.7;

                        svg {
                            width: 15px;
                            height: 15px;
                            scale: 0.8;
                            transform-origin: bottom;
                        }
                    }
                }
            }

            .timelines {
                display: flex;
                align-items: center;
                align-content: center;
                flex-wrap: wrap;

                gap: 1rem;

                width: 100%;

                padding: 1.5rem;
                padding-bottom: 2rem;

                border-bottom: 1px solid #d7d7d7;

                .timeline {
                    width: clamp(0px, 100%, 300px);
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    white-space: nowrap;

                    .icon {
                        width: 25px;
                        height: 25px;

                        svg {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

            .price-container {
                display: flex;
                flex-direction: column;
                justify-content: center;

                width: 100%;

                padding: 1.5rem;
                padding-bottom: 3rem;

                .taxes {
                    line-height: 1;
                    font-weight: lighter;
                }
            }
        }

        @media screen and (max-width: 1100px) {
            max-width: 500px;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }
    }

    .product-details {
        display: flex;
        flex-direction: column;
        gap: 1.3rem;

        width: clamp(0px, 100%, 1450px);

        padding-inline: 1rem;
        margin-top: 2rem;

        .detail-ctas {
            display: flex;
            align-items: center;
            gap: 1rem;

            .detail-cta {
                text-transform: uppercase;
                font-weight: 700;
                padding: 0.9rem 1.7rem;

                border-radius: 0.9rem;

                background: #fff;
                border: 1px solid rgba(0, 0, 0, 0.1);

                &.active {
                    color: white;
                    background-image: var(--cta-linear);
                }
            }
        }

        .product-detail-wrapper {
            width: 100%;

            padding: 3rem;
            background: #f4f4f4;
            border: 1px solid #d7d7d7;
            border-radius: 0.9rem;

            .product-about {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                p {
                    font-weight: lighter;
                    line-height: 1.7;
                    font-size: 1.03em;
                }
            }

            table {
                tr {
                    td {
                        line-height: 1;
                        padding: 1rem 2rem;
                        padding-left: 0;
                        font-weight: bold;
                    }
                    .data {
                        font-weight: lighter;
                    }
                    .flavours-wrapper {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 0.5rem;

                        .flavour {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            &:last-child {
                                .divider {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .more-like-this {
        width: clamp(0px, 100%, 1450px);

        margin-block: 2rem;
        padding-inline: 1rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;

        .head {
            width: 100%;
            text-align: left;
        }

        .products-wrapper {
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 1rem;

            flex-wrap: wrap;
            align-content: center;

            .product-cmp {
                display: flex;
                flex-direction: column;
                align-items: center;

                width: clamp(0px, 100%, 330px);
                height: 480px;
                border-radius: 1.5rem;

                // background-color: var(--c);
                border: 1px solid rgba(0, 0, 0, 0.1);

                position: relative;
                z-index: 1;

                overflow: hidden;

                &::before {
                    content: '';
                    position: absolute;
                    inset: 0;

                    z-index: -1;

                    background-color: var(--c);
                    opacity: 0.1;

                    width: 100%;
                    height: 100%;
                }

                .product-img-container {
                    width: 100%;
                    aspect-ratio: 1;
                    flex-shrink: 0;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    padding: 1rem;

                    overflow: hidden;

                    .product-img {
                        width: 100%;
                        height: 100%;

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        background-color: white;

                        position: relative;
                        z-index: 1;

                        overflow: hidden;

                        .overlay {
                            display: flex;
                            align-items: center;

                            position: absolute;
                            inset: 0;

                            width: 100%;
                            height: 100%;

                            background-color: #e6e6e6b3;
                            line-height: 1.5;

                            text-align: left;

                            font-weight: lighter;

                            padding: 2rem;

                            z-index: 2;

                            opacity: 0;
                            transition: opacity 0.3s ease;
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;

                            transition: transform 0.5s ease;
                        }
                    }
                }

                .product-info {
                    width: 100%;
                    flex: 1 0 0;

                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;

                    padding-inline: 1rem;

                    .product-title {
                        font-size: 15px;
                    }

                    .product-price {
                        margin-top: auto;
                        margin-bottom: 1em;
                    }

                    .flavours {
                        width: 100%;

                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 2px;

                        padding-block: 0.75rem;

                        font-weight: bold;

                        .flavour {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            &:last-child {
                                .divider {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                &:hover {
                    transition: box-shadow 0.3s ease;
                    box-shadow: #63636333 0 2px 8px;

                    .product-img-container {
                        .product-img {
                            .overlay {
                                opacity: 1;
                            }
                            img {
                                transform: scale(1.03);
                            }
                        }
                    }
                }
            }
        }
    }
}
